* {
    box-sizing: border-box;
    margin: 0px;
}


body {
    font-family: Avantgarde, Helvetica, sans-serif;
}

.top {
    text-align: center;
    margin: 40px;
}

.row {
    width: 100%;    
}

.with-gutter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-size: 125%;
}

.title {
    position: absolute;
    right: 0px;
    top: 0px;
    border: 1px solid red;
    background: yellow;
    font-size: 175%;
}

.frame {
    position: relative;
    margin: 10px;
    border: 1px solid green;
  /*  background: grey; */
}

#one {
    background: #d3d3d3;
}

#two {
    background: #FAF0E6;
}

#three {
    background: #FFFACD;
}


/* phone */
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
    /*  border: 1px solid black; */
    }
    
    .col-sm-12 { width: 100%;}
    
}

/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
     /* border: 1px solid black; */
    }
    
    .col-md-6 {
        width: 50%;   
    }
    
    .col-md-12 {
        width: 100%;
    }
}

/* desktop */
@media (min-width: 992px) {
    .col-lg-4 {
        float:left;
     /* border: 1px solid black; */
    }
    
    .col-lg-4 {
        width: 33%;
    }
}
